/* affect everything */
* {
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* main body  */
body {
    background-color: #d9dcd6;
}
/* header on top of the page  */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c; 
    height: 10vh;
}
/* logo */
h1 {
    display: inline-block;
    font-size: 48px;
}
/* logo alt color */
header span {
    color: #d9dcd6;
}
/* nav bar inside header */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
/* nav bar unorder list */
nav ul {
    list-style-type: none;
}
/* nav bar list items */
nav li {
    display: inline-block;
    margin-left: 25px;
}
/* all anchor tags */
a {
    text-decoration: none;
}
/* all para tags */
p {
    font-size: 16px;
}
/* B.G image */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* main content */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* content section */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}
/* content images */
.content img {
    max-height: 200px;
}
/* content header2 */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* top and bot content images */
.float-left {
    float: left;
    margin-right: 25px;
}
/* mid content images */
.float-right {
    float: right;
    margin-left: 25px;
}
/* benifits aside */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}
/* benifits section  */
.benefits{
    margin-bottom: 32px;  
}
/* benifits header 3 */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* benifits images */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* footer bott */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}
/* footer header 4 */
footer h4 {
    font-size: 20px;
    color: black;
}
